@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700;900&display=swap");

:root {
  --blue: #22366a;
  --light-blue: #818ca9;
  --white: #ffffff;
  --black: #000;
  --golden: #af7c32;
}

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
}

a {
  text-decoration: none;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.valign {
  align-items: center;
}

/* ========================= landing page ====================*/

.hero {
  margin-top: 100px;
}

.hero img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.banner_txt {
  position: absolute;
  left: 0;
  bottom: 180px;
  width: 100%;
  padding: 0 0 40px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.hero-content,
.hero-content a {
  color: var(--white);
}

.hero h5 {
  font-size: 32px;
  font-weight: 900;
  line-height: 31px;
  margin: 0 0 4px;
}

.hero h2 {
  font-size: 52px;
  font-weight: 900;
}

.hero-btn {
  font-weight: 900;
  font-size: 22px;
  line-height: 62px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: var(--blue);
  display: inline-block;
  margin-top: 20px;
  width: 262px;
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  bottom: 25px;
  transform: translate(-50%) rotate(180deg);
  cursor: pointer;
}

.arrow i {
  font-size: 32px;
  color: var(--white);
}

/* ======================== eligibilty and admission ======================= */

.text-box {
  margin-top: 80px;
  margin-bottom: 70px;
}

.text-box h2 {
  font-weight: 900;
  font-size: 56px;
  line-height: 62px;
  letter-spacing: -0.02em;
  text-transform: lowercase;
  color: var(--blue);
  margin: 0 0 15px;
}

.text-box p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-transform: lowercase;
  color: var(--light-blue);
}

.text-box .body {
  margin-top: 35px;
}

.message {
  font-size: 22px !important;
  padding-top: 35px;
  font-weight: 300;
  color: var(--light-blue);
}

ol,
ul {
  padding-left: 0;
}
.text-box ol {
  margin: 0 0 0 22px;
}
.text-box .body b {
  color: var(--light-blue);
  font-weight: 900;
  display: block;
  margin: 10px 0;
}

.text-box ol li {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-transform: lowercase;
  color: var(--light-blue);
}

/* footer section */
footer {
  background: var(--blue);
  display: flex;
  flex-direction: column;
}

.top-section {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  height: 87px;
}

.top-section .logo {
  float: left;
  width: 148px;
  padding: 21px 0;
}

.top-section .logo img {
  width: 100%;
}

.top-section .social-links {
  float: right;
}
.top-section .social-links a {
  font-size: 26px;
  color: var(--white);
  display: block;
  padding: 0 34px;
  line-height: 87px;
  border-left: 1px solid hsla(0, 0%, 100%, 0.1);
}

.top-section .social-links li {
  display: inline-block;
}

.middle-section {
  padding: 75px 0;
}

.middle-section .link-box-sm {
  width: 12%;
  float: left;
}

.middle-section .link-box {
  width: 20%;
  float: left;
}

.middle-section h4 {
  font-size: 13px;
  letter-spacing: 0.25px;
  color: hsla(0, 0%, 100%, 0.7);
  margin-bottom: 34px;
  font-weight: 300;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.link-box-sm li a,
.link-box li a {
  padding: 10px 0;
  font-size: 13px;
  letter-spacing: 0.95px;
  color: hsla(0, 0%, 100%, 0.5);
  font-weight: 300;
  display: block;
  padding: 10px 0;
}

.link-box.small {
  font-size: 85%;
}

.link-box.small a {
  padding: 4px 0;
}

.link-box.small p {
  font-size: 13px;
  letter-spacing: 0.95px;
  color: hsla(0, 0%, 100%, 0.5);
  font-weight: 300;
  margin-bottom: 10px;
}

.link-box.full {
  width: 100%;
  margin-top: 20px;
}

.link-box.full ul {
  margin: 0 -10px;
}

.link-box.full li {
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

.link-box.full h4 {
  margin-bottom: 8px;
}

.link-box.full li::before {
  position: absolute;
  content: "/";
  right: -2px;
  top: 8px;
  color: #aaa;
}

.bottom-section {
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  height: 110px;
}

.bottom-section .left {
  float: left;
}

.bottom-section .left p {
  font-size: 12px;
  letter-spacing: 0.83px;
  color: hsla(0, 0%, 100%, 0.5);
  line-height: 110px;
  margin-bottom: 0;
  font-weight: 300;
}

.bottom-section .right {
  float: right;
  width: 50%;
  text-align: right;
}

.bottom-section .right ul li {
  display: inline-block;
}

.bottom-section .right ul li a {
  line-height: 110px;
  display: block;
  font-weight: 300;
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.5);
  padding: 0 10px;
}

/* for header */
header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  background: #fff;
  border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.2);
}

header .logo {
  float: left;
  width: 125px;
  line-height: 100px;
}

header .logo a {
  display: block;
}

header .logo img {
  width: 100%;
  vertical-align: middle;
}

header .apply-now {
  width: 230px;
  float: right;
  line-height: 100px;
}

a.login {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  border: none;
  padding: 8px 24px;
  line-height: 1.25;
  display: inline-block;
}

a.started {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  border: none;
  background: var(--blue);
  border-radius: 2px;
  padding: 10px 20px;
}

header nav {
  margin-left: 140px;
  margin-right: 230px;
  text-align: center;
  position: relative;
}

header li {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
}

header li a {
  font-size: 14px;
  font-weight: 300;
  color: #000;
  padding: 0 9px 0 10px;
  display: block;
  position: relative;
  line-height: 100px;
  text-decoration: none;
  text-align: left;
}

header .sub-menu {
  display: none;
  position: absolute;
  top: 74px;
  left: 0;
  width: 240px;
  background: #fff;
  box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
  border-radius: 12px;
  padding: 10px;
  z-index: 99;
}

.chatbox {
  position: fixed;
  right: 12px;
  bottom: 16px;
  background-color: var(--blue);
  font-size: 14px;
  color: var(--white);
  padding: 10px 12px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}

.chatbox span {
  margin-left: 8px;
}

.chatbox:hover {
  transform: translateY(-2px);
  transition: all 0.2s ease;
}

.chatbox::before {
  content: "3";
  position: absolute;
  left: -10px;
  top: -8px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: var(--white);
  background-color: red;
  font-size: 12px;
  text-align: center;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.arrow_btn {
  display: none;
  margin-top: 34px;
  width: 32px;
}

.menu_icon {
  float: left;
  line-height: 50px;
  display: none;
}

.menu_icon i {
  font-size: 16px;
  color: var(--black);
}

#mobile-menu {
  margin: 0;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--white);
  overflow-x: hidden;
  transition: 0.5s;
}

#mobile-menu ul {
  margin-top: 100px;
}

#mobile-menu ul li {
  border-bottom: 1px solid rgb(241, 238, 238);
}

#mobile-menu ul li a {
  line-height: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.closebtn {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 36px;
  color: var(--black);
}

.space-between {
  justify-content: space-between;
}

/* =================== media queries ====================*/

@media screen and (max-width: 992px) {
  #mobile-menu .apply-now {
    display: block;
    float: none;
    margin-top: auto;
  }

  #mobile-menu ul li {
    display: block;
  }

  #mobile-menu ul li:hover {
    background-color: rgb(241, 238, 238);
  }

  #desktop-menu {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    width: 100%;
  }
  .arrow {
    display: none;
  }
  .arrow_btn {
    display: block;
  }

  .hero-btn {
    margin-top: 22px;
    display: block;
    width: 100%;
    box-shadow: 0 2px 26px 0 hsl(0deg 0% 65% / 55%);
  }

  .banner_txt {
    bottom: 0;
  }

  .banner_txt .hero-content {
    flex: 1;
  }

  .top-section {
    height: auto;
  }

  .top-section .logo {
    float: none;
    margin: auto;
  }

  .top-section .social-links {
    float: none;
    clear: left;
  }

  .top-section .social-links ul {
    text-align: center;
  }
  .top-section .social-links a {
    border: none;
  }

  .middle-section .link-box,
  .middle-section .link-box-sm {
    width: 100%;
    margin-bottom: 10px;
  }

  .middle-section h4 {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .link-box-sm li a,
  .link-box li a {
    font-size: 16px;
  }

  ul.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion {
    transition: 0.4s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .accordion:after {
    content: "\002B";
    color: hsla(0, 0%, 100%, 0.5);
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 26px;
  }

  .link-box.small p {
    font-size: 16px;
  }

  .active:after {
    content: "\2212";
    font-size: 26px;
  }

  header .menu_icon {
    display: block;
  }

  header .logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    line-height: 46px;
    width: 22vw;
    max-width: 110px;
  }

  header .apply-now {
    display: none;
  }

  .text-box {
    margin-top: 30px;
  }

  .hero h5 {
    font-size: 32px;
    line-height: 31px;
  }
  .hero h2 {
    font-size: 55px;
    line-height: 31px;
  }

  .text-box h2 {
    font-size: 30px;
  }

  .text-box ol li {
    font-size: 20px;
    margin-top: 20px;
  }

  .text-box .body b {
    font-size: 20px;
  }

  .bottom-section {
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    height: auto;
    padding: 20px 0;
  }

  .bottom-section .left {
    float: none;
    width: 100%;
    text-align: center;
  }

  .bottom-section .left p {
    line-height: normal;
  }

  .bottom-section .right {
    float: none;
    width: 100%;
    text-align: center;
    margin: 14px auto auto;
  }

  .bottom-section .right ul li a {
    line-height: normal;
    font-size: 16px;
  }

  .text-box p {
    font-size: 20px;
  }

  .container {
    max-width: 750px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 430px) {
  .menu_icon i {
    font-size: 22px;
  }

  .hero h5 {
    font-size: 6.3vw;
  }
  .hero h2 {
    font-size: 10vw;
  }
  .text-box h2 {
    font-size: 7vw;
  }

  .text-box ol li {
    font-size: 4vw;
  }
  .text-box p {
    font-size: 4vw;
  }

  .text-box .body b {
    font-size: 5vw;
  }

  .text-box .message b {
    font-size: 4vw;
  }
  .middle-section h4 {
    font-size: 4vw;
  }

  .link-box.small p {
    font-size: 4vw;
  }

  .link-box-sm li a,
  .link-box li a {
    font-size: 4vw;
  }

  .bottom-section .right ul li a,
  .bottom-section .left ul li a {
    font-size: 4vw;
  }
  .top-section .social-links a {
    padding: 20px;
  }

  .chat-msg {
    display: none;
  }
}
